/* Estilos gerais do site */
body {
    background-color: #f0f0f0;  /* Fundo claro */
    font-family: Arial, sans-serif;
    color: #333;                /* Cor do texto escuro para contraste */
    margin: 0;
    padding: 0;
}

/* Estilo do header */
header {
    background-color: #333;     /* Fundo escuro para destacar a logo */
    padding: 20px;
    text-align: center;
}

/* Estilo da logo */
header .logo img {
    width: 200px;              /* Ajusta o tamanho da logo */
    height: auto;
    border-radius: 10px;       /* Bordas arredondadas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);  /* Sombra para dar destaque */
}

/* Estilos de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Estilo das seções */
section {
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

section h1 {
    font-size: 24px;
    color: #333;
}

section p {
    font-size: 16px;
    color: #555;
}

/* Estilo dos botões de redes sociais */
.social-buttons {
    margin-top: 20px;
}

.social-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Cores específicas para as redes sociais */
.social-btn.tiktok {
    background-color: #69C9D0; /* Cor do TikTok */
}

.social-btn.instagram {
    background-color: #E4405F; /* Cor do Instagram */
}

.social-btn.facebook {
    background-color: #1877F2; /* Cor do Facebook */
}

.social-btn.email {
    background-color: #D44638; /* Cor do ícone de Email */
}

/* Hover para os botões */
.social-btn:hover {
    opacity: 0.8;
}

/* Favicon - ícone de aba */
head link[rel="icon"] {
    width: 16px;  /* Definir o tamanho do ícone */
    height: 16px;
}
