/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Fundo preto para representar o TikTok */
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #000; /* Preto como fundo do cabeçalho */
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #ff007f; /* Cor de rosa do TikTok */
}

/* Navegação */
nav {
    text-align: center;
    margin: 20px 0;
}

/* Texto de Introdução */
.contact-text {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Estilo dos Links de Redes Sociais */
nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s;
}

/* Cor dos links com base nas redes sociais */
nav a:nth-child(1) {
    background: #000; /* Preto para o TikTok */
    border: 2px solid #00f2ea; /* Verde do TikTok */
}

nav a:nth-child(1):hover {
    background-color: #00f2ea; /* Verde do TikTok */
    color: #000;
}

nav a:nth-child(2) {
    background: #feda77; /* Amarelo do Instagram */
    border: 2px solid #f56040; /* Laranja do Instagram */
}

nav a:nth-child(2):hover {
    background-color: #f56040; /* Laranja do Instagram */
    color: #fff;
}

nav a:nth-child(3) {
    background: #1877f2; /* Azul do Facebook */
    border: 2px solid #1877f2;
}

nav a:nth-child(3):hover {
    background-color: #1877f2;
    color: #fff;
}

nav a:nth-child(4) {
    background: #333; /* Cor de fundo padrão para o e-mail */
    border: 2px solid #666;
}

nav a:nth-child(4):hover {
    background-color: #666;
    color: #fff;
}

/* Seção de Conteúdo */
section {
    padding: 20px;
    text-align: center;
}

/* Rodapé */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
